@import "../variables";

.btn {
  border-radius: 5rem;
}

.btn.btn-primary {
  background: $primary;
  border: 1px solid $primary;
  color: white;

  &.active, &:active {
    border: 1px solid lighten($primary, 10%);
    background: lighten($primary, 10%);
  }

  &.focus, &:focus {
    box-shadow: 0 0 0 0.1rem lighten($primary, 10%);
  }

  &.hover, &:hover {
    background: darken($primary, 10%);
  }
}

.btn.btn-outline-primary {
  border: 1px solid $primary;
  color: $primary;

  &.active, &:active {
    border: 1px solid lighten($primary, 10%);
    color: lighten($primary, 10%);
  }

  &.focus, &:focus {
    box-shadow: 0 0 0 0.1rem lighten($primary, 10%);
  }

  &.hover, &:hover {
    background: darken($primary, 10%);
    color: white;
  }
}

.btn.btn-secondary {

}

.btn.btn-outline-secondary {
  border: 1px solid $secondary;

  &.active, &:active {
    background: lighten($secondary, 10%);
  }

  &.focus, &:focus {
    box-shadow: 0 0 0 0.1rem lighten($secondary, 10%);
  }

  &.hover, &:hover {
    background: $secondary;
  }
}

input, textarea, select {
  border: 1px solid $primary;
  color: $text;

  &.focus, &:focus {
    border-color: lighten($primary, 10%);
    box-shadow: 0 0 0 0.1rem lighten($primary, 10%);
    outline: none;
  }
}

a.nav-link {
  color: $secondary;

  &:hover {
    color: lighten($secondary, 10%);
  }

  &.active, &:active {
    color: darken($secondary, 10%);
  }
}

input {
  border: $primary 1px solid;

  &.active, &:active {
    box-shadow: darken($primary, 20%);
  }
}
