@import "variables";

@mixin setTheme($name) {
  $theme: map_get($themes, $name);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $secondary: map-get($theme, secondary);
  $accent: map_get($theme, accent);
  $text: map-get($theme, text);
  $text-light: map-get($theme, text-light);

  background-color: $background;
}

@each $theme in $themeNames {
  .theme-#{$theme} {
    @include setTheme($theme);
  }
}
